#backyart {
	padding: 20px;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
}

body {
	background-color: #E8DFCF;
}

#page1 {
}

.p1-content {
	display: inline-block;
	float: left;
}

#text-box {
	margin-top: 10%;
	margin-left: 10%;
}

.text1 {
	text-align: left;
}

h1 {
	padding: 10px;
	font-family: 'Lora', serif;
	font-size: 72px;
	color: #36332A;
}

h2 {
	padding: 10px;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	color: #335857;
}

h3 {
	font-family: 'Lora', serif;
	color: #36332A;	
}

#illustration {
	margin-top: 50px;
	margin-left: 200px;
/*	background-color: red;*/
}

#vangogh {
	width: 400px;
}

#lady {
	width: 200px;
	position: absolute;
	top: 400px;
	left: 700px;
}

#plant1 {
	width: 80px;
	position: absolute;
	top: 450px;
	right: 110px;
}

#arrow {
	position: absolute;
	width: 80px;
	top: 90%;
	left: 50%;
	transform: translateX(-50%);
}

#arrow:hover {
	cursor: pointer;
}

html {
	scroll-behavior: smooth;
}

#page2 {
	position: absolute;
	top: 100%;
	width: 100%;
	text-align: center;
	height: 100%;
}

#text3 {
	padding-top: 100px;
}

#p2-container {
	margin-top: 150px;
}

#doors-container {
	display: flex;
	justify-content: space-around;
}

.doors {
	width: 200px;
}

.doors:hover {
	cursor: pointer;
}

#plant2 {
	position: absolute;
	height: 120px;
	bottom: 190px;
	left: 300px;
	z-index: 1;
}

#plant3 {
	position: absolute;
	height: 200px;
	bottom: 190px;
	right: 500px;
	z-index: 1;
}

#floor {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 200px;
	background-color: white;
}
